body{
    background-color:  #55bdc1;
}
 
h1{color: #0202025d;
    text-align: center;

}

.tbn{
    text-overflow: initial;
    text-align: center;

}

#input{
    width: 250px;
    height: 20px;
    background-origin: border-box;
    border-color: blue;
    box-shadow: 0cap;
}
 

